@model Oblig2.Models.Entities.Blog
@using Oblig2.Authorization
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
}

<h1>Posts</h1>

<p>
    @Html.ActionLink("Create New Post", "Create", new { id = Model.BlogId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(
                       User, item, EntityOperations.Update)).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
                    }
                    |
                    <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |

                    @if ((await AuthorizationService.AuthorizeAsync(
                       User, item, EntityOperations.Delete)).Succeeded)
                    {
                        <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
